$max-width: 940px
$body-color: #a3b2ed
$body-bkg-color: #12141b

$bkg-header: #161922
$bar-bkg: #eaeaea

$main-menu-size: 60px


// Buttons

$btn-green: #2EB398
$color-white: #fff
$color-blue: #2b95ff
$color-gray: #262728
$color-dark-gray: #1b1b1b
$color-main-menu: #131416
